[Unit]
Description=Reboot with arg, e.g. recovery
DefaultDependencies=no
After=shutdown.target
Before=final.target

[Service]
Type=oneshot
ExecStart=/sbin/android-reboot -f -i "$REBOOT_MODE"
StandardOutput=tty

[Install]
WantedBy=shutdown.target
